.result_container {
  padding: 40px 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
h1 {
  padding: 30px 10%;
  font-size: 25px;
  font-weight: 700;
}
.loader {
  display: flex;
  justify-self: center;
  margin: 20px auto;
  opacity: 0.6;
}
