header {
  background-color: var(--dark);
  color: white;
  position: sticky;
  top: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.left img {
  height: 50px;
}
.left svg {
  color: white;
}

.delivery {
  display: flex;
  align-items: center;
}
.delivery p {
  font-size: 12px;
}
.center {
  display: flex;
  background-color: white;
  padding: 5px;
  width: max-content;
  border-radius: 7px;
}
.center select {
  width: 50px;
  background: none;
  border: none;
}
.center input {
  border: none;
  background: none;
  outline: none;
  width: 350px;
  font-size: 17px;
}
.center svg {
  color: black;
}
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.language {
  display: flex;
  gap: 5px;
}
.language img {
  width: 25px;
  height: 17px;
  object-fit: cover;
}
.language p {
  font-size: 13px;
}

.auth p {
  font-size: 12px;
}
.auth span {
  font-weight: 500;
  font-size: 14px;
}
.return p {
  font-size: 14px;
  font-weight: 400;
}
.cart {
  padding: 5px 5px;
  position: relative;
}
.cart svg {
  font-size: 35px;
  position: relative;
}
.cart p {
  background-color: rgb(255, 0, 0);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1%;
  right: 0;
}
@media (max-width: 800px) {
  header {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: flex-start;
  }
  .left {
    display: flex;
    justify-content: space-between;
  }
}
